#-----------------------------------
#   FSD Utils
#-----------------------------------
funding-service-design-utils @ git+https://github.com/communitiesuk/funding-service-design-utils.git@tferns-fs-2990
requests

#-----------------------------------
#   Flask Version
#-----------------------------------
Flask

#-----------------------------------
#   API
#-----------------------------------
shortuuid

#-----------------------------------
#   Database
#-----------------------------------
SQLAlchemy
Flask-SQLAlchemy>=3.0.3
Flask-Migrate
sqlalchemy_utils>=0.38.3
psycopg2
alembic-utils
marshmallow-sqlalchemy
flask-marshmallow
marshmallow_enum

#-----------------------------------
#   Connexion APIs
#-----------------------------------
connexion
swagger-ui-bundle
openapi-spec-validator
prance


# Extras
invoke
