#-----------------------------------
#   FSD Utils
#-----------------------------------
funding-service-design-utils>=1.0.7,<1.1.0
requests

#-----------------------------------
#   Flask Version
#-----------------------------------
Flask==2.1.3

#-----------------------------------
#   API
#-----------------------------------
shortuuid==1.0.8

#-----------------------------------
#   Database
#-----------------------------------
SQLAlchemy
Flask-SQLAlchemy
Flask-Migrate
sqlalchemy_utils
psycopg2

#-----------------------------------
#   Connexion APIs
#-----------------------------------
connexion
swagger-ui-bundle
openapi-spec-validator
prance


# Extras
invoke
