attrs==21.4.0
black==22.3.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
clickclick==20.10.2
connexion==2.13.0
Flask==2.1.1
idna==3.3
inflection==0.5.1
iniconfig==1.1.1
itsdangerous==2.1.2
Jinja2==3.1.1
jsonschema==4.4.0
MarkupSafe==2.1.1
mypy-extensions==0.4.3
packaging==21.3
pathspec==0.9.0
platformdirs==2.5.2
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.8
pyrsistent==0.18.1
pytest==7.1.2
pytest-sugar==0.9.4
PyYAML==6.0
requests==2.27.1
swagger-ui-bundle==0.0.9
termcolor==1.1.0
tomli==2.0.1
urllib3==1.26.9
Werkzeug==2.1.1
