#-----------------------------------
#   FSD Utils
#-----------------------------------
git+https://github.com/communitiesuk/funding-service-design-utils.git@main
requests

#-----------------------------------
#   Flask Version
#-----------------------------------
Flask==2.1.1

#-----------------------------------
#   Database
#-----------------------------------
SQLAlchemy
Flask-SQLAlchemy
Flask-Migrate
sqlalchemy-utils

#-----------------------------------
#   Connexion APIs (To be added)
#-----------------------------------
connexion
swagger-ui-bundle
openapi-spec-validator
prance
requests
SQLAlchemy
swagger-ui-bundle
